{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <article class="container">
            {% if news|length > 0 %}
            <h3>News</h3>
            <div class="row">
                <div class="col-6 justify-content-center">
                    {% for new in news %}
                        <div class="row">
                            <div class="col new mt-5 mb-5">
                                <p>{{ new.name }}</p>
                                <p>{{ new.createAt|date("d M Y") }}</p>
                                <p>{{ new.description|raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </article>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}