{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <article class="container">
            <h1>News</h1>
            <div class="row">
                <div class="col-6 justify-content-center">
                    {% for new in news %}
                        <div class="row">
                            <div class="col new mt-5 mb-5">
                                <p>{{ new.name }}</p>
                                <p>{{ new.createAt|date("m/d/Y") }}</p>
                                {{ new.description|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </article>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}