{% extends 'base.html.twig' %}
{% block title %}Bio{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/styles/bio.css') }}">
{% endblock %}
{% block body %}
<section>
    <article class="container">
        <div id="biographie" class="mt-3">
            <img src="{{ asset("assets/img/header-page-bio.jpg") }}" class="img-fluid" alt="" />
        </div>
        <div class="row">
            <div class="col text-left mt-5 mb-5">
            <p class="text-white">
                Virgil (un hommage au guide de Dante vers les Enfers).<br/>
                Tous issus du Nord de la France, et nourris de différentes tendances du Metal.<br/>
                Influences assumées de Thy Art is Murder / Behemoth / The Black Dahlia Murder, etc... intégrée par des années de pratique.<br/>
                Créativité résolument collective, excellente expérience de la scène et motivation sans faille représentent le groupe !<br/>
                Pour preuve, plusieurs clips (Nameless, Sanctuary, Plague) ainsi qu’un premier EP composé de 4 titres massifs nommé Initium sorti en 2017.<br/>
                Le groupe assène une musique sombre et violente, associé à des riffs lourds, poussant vers le Black et le Death metal.<br/>
                Ajoutez-y une recherche mélodique qui entretient des ambiances malsaines, ainsi qu’un son violent d’une brutalité infernale.<br/>
                Après une distribution de l’EP par M&O Music, une trentaine de concerts le groupe rentre en studio pour préparer un premier album, plusieurs clips et une série de concerts qui à coup sûr marqueront les esprits.
                <br/><br/>
                Charles : Basse<br/>
                Julien : Guitare<br/>
                Marius : Vocal<br/>
                David : Batterie<br/>
                Thomas : Guitare<br/>
            </p>
            </div>
        </div>
    </article>
</section>
{% endblock %}

