{% extends 'base.html.twig' %}
{% block title %}Bio{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/styles/bio.css') }}">
{% endblock %}
{% block body %}
<section>
    <article class="container">
        <div id="biographie" class="mt-3">
            <img src="{{ asset("assets/img/header-page-bio.jpg") }}" class="img-fluid" alt="" />
        </div>
        <div class="row">
            <div class="col text-left mt-5 mb-5">
            <p class="text-white">
                FR : Créé en 2016, Virgil mélange les genres.<br/>
                Le groupe distille une musique sombre et violente associée à des riffs parfois lourds, parfois mélodique qui entretiennent une ambiance malsaine ainsi qu’un son d’une brutalité infernale.<br/>
                Du Death metal en passant par le Black/post black, le groupe tire son nom du Guide de Dante lors deson “périple infernal”.<br/>
                Fier d’un premier Ep aux 4 titres massifs « Initium » sort en 2017, Virgil revient en octobre 2019 pourvous présenter son 1 er et sombre album «&nbsp;Divina&nbsp;Infernum&nbsp;»!<br/>
                Le groupe eu l’occasion de partager les planches avec des groupes comme In Flames, Atlantis chronicles, Traitors (US), Fractal Univers, Psykup, Mass&nbsp;Hysteria, Agressor, Witches et a participé à denombreux festivals comme le Dreamerfest, le Douai Brutal fest, le Betizfest, le Ose arts metal fest...<br/>
                Laissez vous envahir par les ténèbres au travers de l’imagerie, de la musique et des clips du groupe « Nigrum », « Nameless » ou « Voca ».
                <br/><br/>
                Charles : Bass / Julien : Guitar / Thomas : Guitar / David : Drums / Marius : Voice
                <br/><br/>
                US : Born in 2016, Virgil are mixing metal styles.<br/>
                The band are playing a dark and violent music with dark and heavy or sometime melodic guitar parts that create a brutal, infernal musical scenery.<br/>
                From Death metal to Black/Post Black metal, the band take their name from Dante’s guide through his infernal journey.<br/>
                Strong of their first 4 Tracks EP « Initium » out in 2017, Virgil strike back in october 2019 with their first full lenght album «&nbsp;Divina&nbsp;Infernum&nbsp;»!<br/>
                During these 4 past years Virgil shared the stage with bands such as In Flames, Atlantis Chronicles, Traitors (US), Fractal Univers, Psykup, Mass Hysteria, Agressor, Witches and have been part of festivals like Dreamerfest, Douai Brutal Fest, Betizfest, Ose arts metal Fest...<br/>
                Enter Vigil’s Darkest scenery with their music or music video « Nigrum », « Nameless » and « Voca » available on their youtube Channel.
                <br/><br/>
            </p>
            </div>
        </div>
    </article>
</section>
{% endblock %}

