{% extends 'base.html.twig' %}

{% block body %}
    <section id="homepage">
        <div id="container-video">
            <article class="container">
                <div class="row justify-content-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TtNvEiGroks?rel=0"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
