/*!
 * Style CSS
 */

@import "bootstrap.css";

*{
  margin:0;
  padding:0;
  border:0;
  font-family: sans-serif;
}

body{
  background-color: #000000;
  h1{
    color:#ffffff !important;
  }
  h3{
    color: #ffffff !important;
  }
  nav{
    ul{
      li{
        a{

        }
        a:hover{

        }
      }
    }
  }
  section{
    width: 100%;
    article {
      p {
        color: #878787;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #878787 !important;
      }

      a:hover {
        color: #ffffff !important;
      }
      .video-container{
        position: relative;
        padding-bottom: 56.25%;
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          max-height: 1280px;
          max-height:720px;
          width: 100%;
          height: 100%;
        }
      }

      // NEWS
      .new{
        border-bottom:1px solid #ffffff;
        p{
          color:#ffffff;
        }
      }

      //ALL SHOWS
      .shows-container{
        border-bottom:1px solid #ffffff;
        p{
          color:#ffffff;
        }
      }

      //ONE SHOW SELECT
      .container-show{
        p{
          color:#ffffff;
          a{
            color:#ffffff !important;
            text-decoration:underline;
          }
        }
      }
    }
  }

  footer{
    #social-network{
      ul{
        li{
          color: #878787!important;
          a{
            color:#878787 !important;
            font-size: 2em;
          }
          a:hover{
            color:#ffffff !important;
          }
        }
      }
    }
    #info{
      width: 65%;
      text-align: center;
      margin: 0 auto;
      p{
        display: inline-block;
        text-transform: uppercase;
        margin: 0 3% 0 0;
        color:#878787;
        a{
          color:#878787 !important;
        }
        a:hover{
          color:#ffffff !important;
        }
      }
    }
  }
}


