/*!
 * Style CSS
 */

@import "bootstrap.css";

*{
  margin:0;
  padding:0;
  border:0;
  font-family: sans-serif;
}

body{
  background-color: #000000;
  h1{
    color:#ffffff !important;
  }
  h3{
    color: #ffffff !important;
  }
  nav{
    .nav{
      .nav-item{
        a{
          font-family: 'Della Respira', serif;
          color:#ffffff !important;
          font-weight: 600;
          font-size: 1.3em;
        }
        a:hover{

        }
      }
    }
  }
  #homepage{
    background-image: url("../img/header.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding-bottom:112%;
    @media screen and (min-width: 1840px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:95%;
    }
    @media screen and (max-width: 1840px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:98%;
    }
    @media screen and (max-width: 1780px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:102%;
    }
    @media screen and (max-width: 1720px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:106%;
    }
    @media screen and (max-width: 1650px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:110%;
    }
    @media screen and (max-width: 1600px) {
      max-width:1600px;
      margin:0 auto;
      padding-bottom:110%;
    }
    #container-video{
      position:absolute;
      width:84%;
      top:110%;
      @media screen and (max-width: 1880px){
        width:85%;
      }
      @media screen and (max-width: 1780px){
        width:90%;
      }
      @media screen and (max-width: 1730px){
        width:93%;
      }
      @media screen and (max-width: 1730px){
        width:96%;
      }
      @media screen and (max-width: 1600px){
        width:100%;
      }
      @media screen and (max-width: 1400px) {
        top:100%;
      }
      @media screen and (max-width: 1350px) {
        top:90%;
      }
      @media screen and (max-width: 1300px) {
        top:85%;
      }
      @media screen and (max-width: 1220px) {
        top:80%;
      }
      @media screen and (max-width: 1080px) {
        top:75%;
      }
      @media screen and (max-width: 1040px) {
        top:70%;
      }
      @media screen and (max-width: 1000px) {
        top:65%;
      }
      @media screen and (max-width: 840px) {
        top:60%;
      }
      @media screen and (max-width: 800px) {
        top:55%;
      }
      @media screen and (max-width: 640px) {
        top:50%;
      }
      @media screen and (max-width: 600px) {
        top:47%;
      }
      @media screen and (max-width: 600px) {
        top:47%;
      }
      @media screen and (max-width: 575px) {
        top:43%;
        width: 80%;
        left: 10%;
      }
    }
  }
  section{
    width:100%;
    article {
      p {
        color:#878787;
      }
      a {
        text-decoration:none;
        text-transform:uppercase;
        color:#878787 !important;
      }

      a:hover {
        color:#ffffff !important;
      }
      // NEWS
      .new{
        border-bottom:1px solid #ffffff;
        p{
          color:#ffffff;
        }
      }
      //ALL SHOWS
      .shows-container{
        border-bottom:1px solid #ffffff;
        p{
          color:#ffffff;
        }
      }
      //ONE SHOW SELECT
      .container-show{
        p{
          color:#ffffff;
          a{
            color:#ffffff !important;
            text-decoration:underline;
          }
        }
      }
    }
  }

  footer{
    #social-network{
      ul{
        li{
          a{
            color:#ffffff !important;
            font-size: 2em;
            @media screen and (max-width: 600px) {
              font-size: 1.7em !important;
            }
          }
        }
      }
    }
    #info{
      width: 65%;
      text-align: center;
      margin: 0 auto;
      p{
        display: inline-block;
        text-transform: uppercase;
        margin: 0 3% 0 0;
        color:#878787;
        a{
          color:#878787 !important;
        }
        a:hover{
          color:#ffffff !important;
        }
      }
    }
  }

}